ruff
libusb1==2.0.1
numpy
hexdump>=3.3
pycryptodome==3.9.8
tqdm>=4.14.0
pytest
pytest-mock
pytest-xdist
pytest-timeouts
parameterized
requests
cffi==1.14.3
crcmod
pre-commit==2.13.0
scons==4.4.0
flaky
spidev
termcolor
