name: tests

on:
  push:
    branches:
      - master
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref != 'refs/heads/master' && github.ref || github.run_id }}-${{ github.event_name }}
  cancel-in-progress: true

env:
  RUN: source .venv/bin/activate && /bin/bash -c

jobs:
  misra_linter:
    name: MISRA C:2012 Linter
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v4
      - name: Cache cppcheck
        id: cppcheck-cache
        uses: actions/cache@v4
        with:
          path: tests/misra/cppcheck
          key: cppcheck-${{ hashFiles('tests/misra/*') }}
      - run: ./setup.sh
      - name: Build FW
        run: ${{ env.RUN }} "scons -j$(nproc)"
      - name: Run MISRA C:2012 analysis
        run: ${{ env.RUN }} "cd tests/misra && ./test_misra.sh"